@salmon: #fff1e0;
@purple: #9e2f50;
@almost-black: #333333;
@light-red: #CC3333;
@sky-blue: #66CCCC;

// Fonts
@font-face {
    font-family: Clarion; 
    src: url("/Clarion.ttf");
}

// Fonts
@font-face {
    font-family: ft-icons;
    src: url("/ft-icons.ttf");
}

@font-face {
    font-family: 'Alegreya Sans'; 
    src: 
    url("/AlegreyaSans-Light-webfont.ttf"),
    url("/AlegreyaSans-Light-webfont.eot"),
    url("/AlegreyaSans-Light-webfont.woff"),
    url("/AlegreyaSans-Light-webfont.svg");
    font-weight: bold;
}

@font-face {
    font-family: 'Alegreya Sans'; 
    src: 
    url("/AlegreyaSans-Thin-webfont.ttf"),
    url("/AlegreyaSans-Thin-webfont.eot"),
    url("/AlegreyaSans-Thin-webfont.woff"),
    url("/AlegreyaSans-Thin-webfont.svg");
    font-weight: light;
}

.position-transition {
	.transition(left, 0.2s, ease-out);
}

.transition(@property, @duration, @timing-function) {
	-webkit-transition: @property @duration @timing-function;
	-moz-transition: @property @duration @timing-function;
	-o-transition: @property @duration @timing-function;
	transition: @property @duration @timing-function;
}

*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
	height: 100%;
	min-height: 100%;
	max-width: 100%;
	background-color: @salmon;
	margin: 0px;
	font-family: 'Alegreya Sans';
	font-weight: light;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: scroll;

	color: @almost-black;
}

div#left-pane {
	.position-transition;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0%;

	body.active-right & {
		left: -100%;
	}
}

// Starter
section.starter-blurb {
	color: black;
	font-size: 18px;
	line-height: 18px;
	padding: 10px;
	padding-top: 17px;
	height: 90px;
	border-bottom: 1px solid @purple;
	span.title {
		font-weight: bold;
	}
}

// Substance
section.title {
	font-size: 20px;
	height: 100px;
	text-align: center;
	color: black;
	display: block;

	div.subject {
		font-weight: bold;
		font-size: 30px;
		margin-top: -50px;
	}
}

section.bitcoin-graphic {
	background-color: @sky-blue;
	height: 170px;

	img {
		padding-top: 30px;
		width: 120px;
		margin: 0 auto;
		display: block;
	}
}

section.drug-graphic {
	height: 170px;
	display: block;
	margin-top: 60px;
	img {
		width: 100%;
	}
}

section.content {
	padding: 15px;
	padding-top: 30px;
	font-size: 20px;
	line-height: 25px;
	text-align: justify;
}

// Scoop
img#scoop-image {
	width: 100%;
  max-width: 399px;
}

div#right-pane {
	div.back {
		float: left;
		height: 50px;
		width: 40px;
	}
	i.fa-mail-reply {
		font-size: 20px;
		margin-right: 10px;
	}
	.position-transition;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 100%;

	body.active-right & {
		left: 0%;
	}
}

header {
	background-color: @purple;
	padding: 15px 0px 15px 25px;
	font-size: 35px;
	color: @salmon;

	span.ft-font {
		font-size: 30px;
		margin-right: 2px;
	}
}

footer {
	color: black;

	@height: 50px;
	height: @height;
	line-height: @height;
	padding-left: 20px;
	background-color: @sky-blue;

	position: fixed;
	bottom: 0;
	width: 100%;

	div.left {
		float: left;
		font-size: 16px;
	}

	div.right {
		float: right;

		img {
			height: @height;
			width: auto;
		}
	}
}

.ft-font {
	font-family: Clarion;
}

section {
	&.active {
		background-color: white;
	}

	&#starters {
		margin-top: 15px;
	}

	@height: 75px;

	@icon-height: 60px;
	div.icon {
		margin: 10px 25px 0 25px;
		float: left;
		width: @icon-height;
		height: @icon-height;
		border-radius: @icon-height / 2;

		background-color: @almost-black;

		img.appetizers {
			height: 35px;
			margin-left: 12px;
		}

		img.main-dish{
			height: 25px;
			margin-left: 5px;
			position: relative;
			top: -8px;
		}

		img.a-drink-with{
			height: 50px;
			margin-left: 22px;
			margin-top: 3px;
		}

		img.the-scoop{
			height: 45px;
			margin-left: 17px;
			position: relative;
			top: 2px;
		}
	}

	font-size: 30px;
	
	height: @height;
	line-height: @height;
	// border-bottom: 1px solid gray;

	.ft-font {
		margin-left: 2px;
	}
}

.ft-icon-logo {
  font-family: ft-icons;
  display: inline;
  position: relative;
  top: -6px;
  font-size: 40px;
  line-height: 1em;
  vertical-align: middle;
  margin-right: 3px;

  &:after {
    content: "\f10d";
  }

  &.right-logo {
  	margin-left: 3px;
  }
}

#splash {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: yellow;
  z-index: 1;

  div.dish {
  	display: none;
  	text-align: center;
  	font-size: 53px;
  	margin-left: -3px;
  	margin-top: -20px;
  }
  div.ft-icon-logo {
  	font-size: 100px;
  	display: block;
  	display: none;
  	text-align: center;
  	margin-top: 100px;
  }
}

.中文 {
  display: none;
}

body.chinese .中文 {
  display: inline;
}

body.chinese .english {
  display: none;
}

#lang {
  float: right;
  font-size: 14px;
  padding-right: 10px;
  padding-top: 13px;
}
